*
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    margin-right: auto;
    width: 75px;
    height: 75px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px greenyellow;

}

.nav li {
    display: inline-flex;
    padding: 5px;
    color: white;
    justify-content: space-between;
}

p {
    text-align: center;
    font-size: x-large;
}

main{
    margin: auto;
    text-align: center;

}
.container {
    width: 50vw;
    height: 75vh;
    margin: auto;
    position: relative;
    /*background-color: chartreuse;*/
    justify-content: center;
    align-items: center;
    background-image: url(https://i.postimg.cc/jSMcWznR/pixel-art-grass-background-seamless-lawn-texture-backdrop-vector-illustration-223655094.jpg);
}

h2 {
    font-size: xx-large;
    color: black;
    text-shadow: 2px 2px 2px white;
}

.oak, .pokemon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}

.oak {
    z-index: 30;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pokemon {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    object-fit: contain;
}

.picture1 {
    border-radius: 1em;
    object-fit: cover;
    width: 85%;
    height: 85%;
}

.picture2 {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    perspective: 250px;
    
}

.container:hover .oak{
    transform: rotateY(180deg);
}

#pic1{
    width: 300px;
    height: 300px;
    grid-column: 2/2;
}

#pic2{
    width: 300px;
    height: 300px;
    grid-column: 2/2;
}

#pic3 {
    width: 300px;
    height: 300px;
    grid-column: 2/2;
}
 
/*main {
    display: flex;
}*/

.evolution {
    text-align: center;
   /* display: block;*/
    display: grid;
    grid-template-columns: repeat(3) 3fr;
    grid-template-rows:repeat(3) 3fr;
    background-image: url(https://i.postimg.cc/jSMcWznR/pixel-art-grass-background-seamless-lawn-texture-backdrop-vector-illustration-223655094.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}





